:root {
  --bg-clr: rgb(242, 242, 242);
  --txt-clr-dark: rgb(40, 40, 40);
  --txt-clr-light: rgb(244, 244, 244);
  --border-clr: rgb(105, 105, 105);
  --modal-accent: rgb(0, 170, 255);
  --modal-btn-accent: rgb(43, 43, 43);
  --modal-bg-clr: rgb(239, 239, 239);
  --modal-bd-clr: rgb(255, 0, 0);
  --input-clr: rgb(179, 179, 179);
  --input-focus-clr: rgb(223, 223, 223);
  --player-X-clr: rgb(204, 112, 112);
  --player-O-clr: rgb(93, 163, 198);
  --board-spot-clr: rgb(126, 126, 126);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-clr);

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* Modals */

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  background-color: transparent;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;

  outline: 2px solid var(--border-clr);
  background-color: var(--modal-bg-clr);
  border-radius: 10px;
  padding: 1.5rem;

  h1 {
    text-align: center;
  }

  p {
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  label,
  input,
  button {
    color: var(--txt-clr-dark);
  }

  label {
    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: 1rem;
  }

  input[type="text"] {
    background-color: var(--input-clr);
    outline: transparent;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    transition: all 0.3s ease;

    &:focus,
    &:valid {
      background-color: var(--input-focus-clr);
    }
  }

  label.x {
    color: var(--player-X-clr);
  }

  .x:focus,
  .x:valid {
    outline: 2px solid var(--player-X-clr);
  }

  label.o {
    color: var(--player-O-clr);
  }

  .o:focus,
  .o:valid {
    outline: 2px solid var(--player-O-clr);
  }

  button {
    background-color: var(--input-clr);
    outline: 1px solid var(--border-clr);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover,
    &:focus-visible {
      background-color: var(--modal-btn-accent);
      color: var(--txt-clr-light);
      outline-color: transparent;
    }
  }

  label,
  input {
    display: block;
  }
}

/* Tic Tac Toe  */

#tic-tac-toe-board {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 1rem;

  button {
    font-size: 4.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline-color: transparent;
    transition: all 0.5s ease-in-out;
    background-color: var(--input-clr);
    color: var(--txt-clr-dark);
    opacity: 1;

    &:hover {
      opacity: 0.9;
    }
  }

  .X {
    background-color: var(--player-X-clr);
    color: var(--txt-clr-dark);
  }

  .O {
    background-color: var(--player-O-clr);
    color: var(--txt-clr-dark);
  }
}

#tic-tac-toe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;

  min-height: 100%;
  width: 100%;

  .player-info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .one {
    background-color: var(--player-X-clr);
  }

  .two {
    background-color: var(--player-O-clr);
  }

  .player {
    text-align: center;
    font-weight: bold;
    outline: 2px solid var(--txt-clr-dark);
    width: 15ch;
    height: max-content;
    line-height: 1.3rem;
    border-radius: 5px;
  }

  .name,
  .score {
    padding: 0.5rem;
  }

  .name {
    background-color: var(--txt-clr-dark);
    color: var(--txt-clr-light);
    border-bottom: 2px solid var(--txt-clr-dark);
    font-size: 1rem;
  }
  .score {
    color: var(--txt-clr-dark);
    font-size: 1.8rem;
  }
}

#tic-tac-toe-wrapper.hidden {
  display: none;
}
